@tailwind base;
@tailwind components;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.lastest-2{
    margin-left: 0 !important
}
.anitrans{
    transition: translate 0.3s;
}
.hamclick{
    @apply bg-slate-200 font-semibold w-[98vw] space-y-4 text-base mt-[354px] -translate-x-[5.5rem] shadow-md px-12 py-4;
}
.card-shade{
    box-shadow: 0 .1875rem .4375rem 0 rgba(0,0,0,.13),0 .0625rem .125rem 0 rgba(0,0,0,.11);
}


.edgeblur{
    box-shadow: 0 0 8px 8px #d6d4ea;
}

@tailwind utilities;
.unrline{
    text-decoration: underline;
}